@model IEnumerable<PoliceProjectMVC.Models.FPerson>
@{
    ViewBag.Title = "Found Person";
    int b = 1;
}

<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Found Person</h4>
    </div>

    <div class="row mb-4 g-3">
        <div class="col-auto">
            <a href="/Home/MissingPerson" class="btn btn-sm btn-primary">Missing Person</a>
        </div>
        <div class="col-auto">
            <a href="/Home/FoundPerson" class="btn btn-sm btn-primary">Found Person</a>
        </div>
        <div class="col-auto">
            <a href="/Home/DeadPerson" class="btn btn-sm btn-primary">Undifiend Body</a>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Mother's Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>DOB</th>
                        <th>Mobile No</th>
                        <th>Religion</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.PersonName</td>
                            <td>@item.FatherName</td>
                            <td>@item.MotherName</td>
                            <td>@item.PersonGender</td>
                            <td>@item.PersonAge</td>
                            <td>@item.DateOfBirth.ToString("dd-MM-yyyy")</td>
                            <td>@item.MobileNo</td>
                            <td>@item.Religion</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
