@model IEnumerable<PoliceProjectMVC.Models.TblHelplineNumber>
@{
    ViewBag.Title = "Helpline No";
    int b = 1;
    int c = 1;
}

@section Head{
    <style>
        .btn-block {
            width: 100%;
        }
    </style>
}



<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Helpline No</h4>
    </div>

    <div class="row mb-4 g-3">
        <div class="col-2">
            <button class="btn btn-sm btn-block btn-primary" onclick="PbtnClick()">Police</button>
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-block btn-primary" onclick="ObtnClick()">Others</button>
        </div>
        <div class="col-2">
            <button class="btn btn-sm btn-block btn-primary" onclick="AbtnClick()">All</button>
        </div>
    </div>

    <div class="row mb-3 g-3" id="PRow">
        <div class="col-md-12">
            <h5>Police Officers Contact Number</h5>
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Helpline Numbers</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.Type == "Officer"))
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.Name_En</td>
                            <td>@item.Designation.Name_En</td>
                            <td>@item.HelplineNumbers</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row g-3" id="ORow">
        <div class="col-md-12">
            <h5>Other Department Contact Number</h5>
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Helpline Numbers</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x => x.Type == "Other Department"))
                    {
                        <tr>
                            <td>@(c++)</td>
                            <td>@item.Name_En</td>
                            <td>@item.Designation.Name_En</td>
                            <td>@item.HelplineNumbers</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

@section Scripts{
    <script>
        function PbtnClick() {
            $("#PRow").show();
            $("#ORow").hide();
        }
        function ObtnClick() {
            $("#PRow").hide();
            $("#ORow").show();
        }
        function AbtnClick() {
            $("#PRow").show();
            $("#ORow").show();
        }
    </script>
}