@using PoliceProjectMVC.Custome_Helpers
@model PoliceProjectMVC.Models.MissingMobile
@{
    ViewBag.Title = "Missing Mobile";
}

<section class="container my-3 p-0">
    <form method="post" action="/Home/MissingMobile" enctype="multipart/form-data">

        <div class="row g-3">
            <h4 class="sheader mt-3">Missing Mobile</h4>
        </div>

        <div class="row my-3 g-3">
            <div class="col-md-4 col-sm-6">@Html.GenerateField(m => m.IMEINumber, "IMEI Number", "text")</div>
            <div class="col-md-4 col-sm-6">@Html.GenerateField(m => m.MobileNumber, "Mobile Number", "number")</div>
            <div class="col-md-4 col-sm-6">@Html.GenerateField(m => m.AlternateNumber, "Alternate Contact No", "number")</div>
            <div class="col-md-4 col-sm-6">@Html.GenerateField(m => m.DateOfMissing, "Date of Missing", "date")</div>
            <div class="col-md-4 col-sm-6">@Html.GenerateField(m => m.AadharNumber, "Aadhar Number", "text")</div>
            <div class="col-md-4 col-sm-6">@Html.GenerateField(m => m.MyImage, "Upload Document", "file")</div>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</section>

@section Scripts{
    @Html.Raw(CustomHtmlHelpers.AddResource("/Scripts/jquery.validate.min.js"))
    @Html.Raw(CustomHtmlHelpers.AddResource("/Scripts/jquery.validate.unobtrusive.min.js"))
}