@model IEnumerable<PoliceProjectMVC.Models.TblOurTeam>
@{
    ViewBag.Title = "Our Team";
    int b = 1;
}

<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Our Team</h4>
    </div>

    <div class="row g-3">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Joining Date</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.Name_En</td>
                            <td>@item.Designation.Name_En</td>
                            <td>@item.JoiningDate.ToString("dd-MM-yyyy")</td>
                            <td><img src="@item.ImageUrl" width="50" height="50" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
