@model IEnumerable<PoliceProjectMVC.Models.PoliceStation>
@{
    ViewBag.Title = "Police Stations";
    int b = 1;
}

<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Police Stations</h4>
    </div>

    <div class="row g-3">
        <div class="col-md-12">
            <table class="table table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Circla Name</th>
                        <th>Mobile No</th>
                        <th>Helpline No</th>
                        <th>Medical No</th>
                        <th>Ambulance No</th>
                        <th>Fire Brigade No</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.Name_En</td>
                            <td>@item.Circle.Name_En</td>
                            <td>@item.MobileNo</td>
                            <td>@item.HelpLineNo</td>
                            <td>@item.MedicalNo</td>
                            <td>@item.AmbulanceNo</td>
                            <td>@item.FieBrigadeNo</td>
                            <td><img src="@item.ImageUrl" width="50" height="50" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
