@model IEnumerable<PoliceProjectMVC.Models.PoliceStation>
@{
    ViewBag.Title = "Police Stations";
}

<section class="container my-3 p-0">
    <div class="row g-3">
        <h4 class="sheader mt-3">Police Stations</h4>
    </div>

    <div class="row g-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top" alt="Sample Image">
                    <!-- Card Body -->
                    <div class="card-body">
                        <p class="card-text">
                            <b>Police Station:</b> @item.Name_En<br />
                            Contact No : @item.MobileNo<br />
                            E-Mail : @item.Email<br />
                            Address : @item.Address<br />
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

</section>
