@model  IEnumerable<PoliceProjectMVC.Models.Passport>

@{
    ViewBag.PageTitle = "All Passport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int b = 1;
}

<div class="card card-outline card-primary">
    <div class="card-header d-flex align-items-center">
        <h3 class="card-title mb-0">All Passport</h3>
        @*<div class="card-tools ml-auto">
            <a href="/Passport/Create" class="btn btn-primary"><span class="fas fa-plus"></span>&nbsp;&nbsp;Add New</a>
        </div>*@
    </div>
    <div class="card-body">
        <div class="container-fluid table-responsive">
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>File Number</td>
                        <td>Application Name</td>
                        <td>Passport Type</td>
                        <td>Mobile No.</td>
                        <td>Police Station</td>
                        <td>Status</td>
                        <td>Applied Date</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PoliceProjectMVC.Models.Passport item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.FileNumber</td>
                            <td>@item.ApplicantName</td>
                            <td>@item.PassportType</td>
                            <td>@item.MobileNo</td>
                            <td>@item.PoliceStationId</td>
                            <td>@item.Status</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td>
                                <a href="/Passport/Details/@item.Id" class="btn btn-sm mr-2 btn-success"><i class="fa fa-eye"></i></a>
                                <a href="/Passport/Delete/@item.Id" onclick="return confirm('Are You Sure To Delete ?')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>