@using PoliceProjectMVC.Custome_Helpers
@model PoliceProjectMVC.Models.SRNSRCase
@{
    ViewBag.PageTitle = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="/SRNSR/Create" method="post" id="mainForm">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header p-0 pt-1 border-bottom-0">

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.MHeadId, "Major Head", "Select Major Head", (SelectList)ViewBag.MyMHead)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.SMHeadId, "Sub Major Head", "Select Sub Major Head", null)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.SubDivisionId, "Sub Division", "Select Sub Division", (SelectList)ViewBag.MySubDiv)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.CircleId, "Crcle", "Select Circle", null)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.PoliceStationId, "Police Station", "Select PoliceStation", null)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.CaseType, "SR/NSR", "Select SR/NSR", MyDropdownsValue.CaseTypeSRNSR())</div>
                    </div>

                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="col-12">
            <div class="card card-primary card-outline" id="downcardmy" style="display:none;">
                <div class="card-header p-0 pt-1 border-bottom-0">
                    <ul class="nav nav-pills nav-fill mb-2" id="mycustomformtab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="tab1" href="javascript:void(0);">Case Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2" href="javascript:void(0);">Accused</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab3" href="javascript:void(0);">Case Proceeding</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-three-tabContent">
                        <div class="tab-pane fade" id="tab1Content" role="tabpanel" aria-labelledby="tab1">

                            <div class="row">
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.ModusOperandiId, "Modus Operandi", "Select Modus Operandi", null)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.FirNo, "Fir No", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.JailDate, "Jail Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.Section, "Section", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.DateAndTimeOfOccurance, "Date and Time Of Occurance", "datetime-local")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.PlaceOfOccurance, "Place Of Occurance", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.NoOfKnownAccused, "No of Known Accused", "number")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.NoOfUnknownAccused, "No of UnKnown Accused", "number")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.IoName, "IO Name", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.IoDesignationId, "IO Designation", "Select Designation", (SelectList)ViewBag.MyDesigNation)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.IoMobile, "IO Mobile", "number")</div>
                            </div>
                            <hr />
                            <div class="row justify-content-end align-content-center mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right next">Next</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2Content" role="tabpanel" aria-labelledby="tab2">
                            <div class="row" id="accusedform">
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.Accused.Name, "Name", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.Accused.Age, "Age", "number")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.Accused.Gender, "Gender", "Select Gender", MyDropdownsValue.GetGender())</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.Accused.Address, "Address", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateFileField(m => m.Accused.ConfessionFile, "Confession Statement", "file", "")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.Accused.Chargesheet, "Chargesheet", "Select Chargesheet", MyDropdownsValue.GetYesNo())</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.Accused.ChargesheetDate, "Chargesheet Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateFileField(m => m.Accused.AccusedFile, "Image of Accused", "file", "")</div>
                            </div>
                            <div class="row justify-content-center align-content-center mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right savebtn">Save</button>
                                </div>
                            </div>
                            <hr />
                            <table class="table table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Name</td>
                                        <td>Age</td>
                                        <td>Fir / NonFir</td>
                                        <td>Sub Division</td>
                                        <td>Circle</td>
                                        <td>Police Station</td>
                                        <td>Present Status</td>
                                        <td>Active</td>
                                    </tr>
                                </thead>
                                <tbody id="accusedTableBody"></tbody>
                            </table>
                            <hr />
                            <div class="row justify-content-between align-content-center mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right back">Back</button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right next2">Next</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3Content" role="tabpanel" aria-labelledby="tab3">
                            <div class="row">
                                @Html.Hidden("AccusedIds")
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.SrNo, "SR. No", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.CaseDate, "Case Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.ReportType, "Report Type", "Select Report Type", null)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.ReportDate, "Report Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.SupervisionNote, "Supervision Note", "Select Supervision Note", null)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.SupervisionDate, "Supervision Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.SupervisionNoteBy, "Supervision Note By", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.FinalForm, "Final Form (FF)", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.ProgressReport, "ProgressReport", "Select ProgressReport", null)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.ProgressReportDate, "ProgressReport Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.CaseDocumentType, "Case Document Type", "Select Case Document Type", null)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateFileField(m => m.MyImage, "Case Document", "file", "")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.ChargeSheetReport, "ChargeSheet Report", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.CaseFinalHead, "Case Final Head", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.CurrentCaseStatus, "Current Case Status", "Select Current Case Status", null)</div>
                            </div>
                            <hr />
                            <div class="row justify-content-between align-content-center mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right back">Back</button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right finish">Finish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script>
        bindDropdownOnChange("MHeadId", "SMHeadId", "/SRNSR/GetSMHead", "Name_EN", "Id");
        bindDropdownOnChange("SubDivisionId", "CircleId", "/SRNSR/GetCircles", "Name_En", "Id");
        bindDropdownOnChange("CircleId", "PoliceStationId", "/SRNSR/GetStations", "Name_En", "Id");
        bindDropdownOnChange("SMHeadId", "ModusOperandiId", "/SRNSR/GetModusOpernadi", "Name_EN", "Id");

        let accusedList = [];
        let rowIndex = 1;
        let savedaccusedids = [];

        function AddRow() {
            let name = $('#Accused_Name').val();
            let age = $('#Accused_Age').val();
            let fifnonfir = $('#Accused_FirOrNonFir').val();
            let subdiv = $('#Accused_SubDivisionId option:selected').text();
            let circleid = $('#Accused_CircleId option:selected').text();
            let policestation = $('#Accused_PoliceStationId option:selected').text();
            let present = $('#Accused_PresentStatus').val();
            let isActive = true; // Defaulting as active


            // Add accused to list
            accusedList.push({
                name,
                age,
                fifnonfir,
                subdiv,
                circleid,
                policestation,
                present,
                isActive
            });

            // Add row to table
            const rowHtml = `<tr><td>${rowIndex++}</td><td>${name}</td><td>${age}</td><td>${fifnonfir}</td><td>${subdiv}</td><td>${circleid}</td><td>${policestation}</td><td>${present}</td><td>${isActive ? 'Yes' : 'No'}</td></tr>`;
            $('#accusedTableBody').append(rowHtml);

            // Clear form fields
            $('#accusedform input, #accusedform select').val('');
        }

        $('.savebtn').on('click', function () {
            let totalacc = parseInt($("#NoOfKnownAccused").val()) || 0;
            if (rowIndex > totalacc) {
                alert("You Already Submitted All Accused");
                return;
            }


            if (!validateInputs()) {
                return;
            }

            // Create FormData object
            let formData = new FormData();

            // Add text inputs to FormData
            formData.append('Name', $('#Accused_Name').val());
            formData.append('Age', $('#Accused_Age').val());
            formData.append('Gender', $('#Accused_Gender').val());
            formData.append('FirOrNonFir', $('#Accused_FirOrNonFir').val());
            formData.append('FatherOrHusbandName', $('#Accused_FatherOrHusbandName').val());
            formData.append('MothersName', $('#Accused_MothersName').val());
            formData.append('Address', $('#Accused_Address').val());
            formData.append('SubDivisionId', $('#Accused_SubDivisionId').val());
            formData.append('CircleId', $('#Accused_CircleId').val());
            formData.append('PoliceStationId', $('#Accused_PoliceStationId').val());
            formData.append('PresentStatus', $('#Accused_PresentStatus').val());
            formData.append('Chargesheet', $('#Accused_Chargesheet').val());
            formData.append('ChargesheetDate', $('#Accused_ChargesheetDate').val());
            formData.append('SectionFoundTrue', $('#Accused_SectionFoundTrue').val());

            // Add files to FormData
            let confessionFile = $('#Accused_ConfessionFile')[0].files[0];
            if (confessionFile) {
                formData.append('ConfessionFile', confessionFile);
            }

            let accusedFile = $('#Accused_AccusedFile')[0].files[0];
            if (accusedFile) {
                formData.append('AccusedFile', accusedFile);
            }

            // Send AJAX request
            $.ajax({
                url: '/SRNSR/SaveAccused',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    AddRow();
                    savedaccusedids.push(response);
                },
                error: function (error) {
                    alert('Error saving data.');
                    console.error(error);
                }
            });
        });

        // Delete button click
        $(document).on('click', '.deletebtn', function () {
            const row = $(this).closest('tr');
            const index = row.index();
            accusedList.splice(index, 1);
            row.remove();
            rowIndex--;
        });

        $(document).on('click', '.finish', function () {
            if (!validateInputs()) {
                return;
            }
            $("#AccusedIds").val(savedaccusedids.join(","));
            $("#mainForm").submit();
        });



        // Function to validate inputs in the active tab
        function validateInputs() {
            let isValid = true;

            // Get all inputs, selects, and textareas in the active tab
            const inputs = $(".tab-pane.active input, .tab-pane.active select, .tab-pane.active textarea");
            //debugger;
            inputs.each(function () {
                // Trigger validation for each element
                if (!$(this).valid()) {
                    isValid = false; // Mark form as invalid if any field fails
                }
            });

            return isValid;
        }

        // Function to change active tab
        function changeTab(isNext, valicheck = true) {
            const activeLink = $(".nav.nav-pills .nav-item .nav-link.active");
            const activeTab = $(".tab-pane.active");

            const newLink = isNext
                ? activeLink.parent().next().children("a")
                : activeLink.parent().prev().children("a");

            const newTab = isNext
                ? activeTab.next(".tab-pane")
                : activeTab.prev(".tab-pane");

            // Validate inputs before navigating to the next tab
            if (valicheck && isNext) {
                if (!validateInputs()) {
                    return;
                }
            }

            // Update active link
            if (newLink.length) {
                activeLink.removeClass("active");
                newLink.addClass("active");
            }

            // Update active tab
            if (newTab.length) {
                activeTab.removeClass("show active");
                newTab.addClass("show active");
            }
        }

        // Handle Next button
        $("#CaseType").on("change", function () {
            //$("#CaseType").on("click", function () {
            $("#downcardmy").show();
            const firstLink = $("#mycustomformtab .nav-item:first-child .nav-link");
            const firstTab = $(".tab-pane:first-child");

            firstLink.addClass("active");
            firstTab.addClass("show active");
        });

        $(".next").on("click", function () {
            changeTab(true); // Move to the next tab
        });

        // Handle Back button
        $(".back").on("click", function () {
            changeTab(false); // Move to the previous tab
        });

        $(".next2").on("click", function () {
            debugger;
            let totalacc = parseInt($("#NoOfKnownAccused").val()) || 0;

            if (rowIndex <= totalacc) {
                alert("Plz Submit All Accused");
                return;
            }

            changeTab(true, false);
        });
    </script>
}