@using PoliceProjectMVC.Custome_Helpers
@model PoliceProjectMVC.Models.SRNSRCase
@{
    ViewBag.PageTitle = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="/SRNSR/Edit" method="post" id="mainForm" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedDate)
    @Html.HiddenFor(m => m.SecondWPMessageSent)
    @Html.HiddenFor(m => m.ThirdWPMessageSent)
    @Html.HiddenFor(m => m.FourthWPMessageSent)
    @Html.HiddenFor(m => m.LastChargeSheetdate)

    @Html.HiddenFor(m => m.ConfessionStatement)
    @Html.HiddenFor(m => m.ImageOfAccused)
    @Html.HiddenFor(m => m.CaseDocument)
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header p-0 pt-1 border-bottom-0">

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.MHeadId, "Major Head", "Select Major Head", (SelectList)ViewBag.MyMHead)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.SMHeadId, "Sub Major Head", "Select Sub Major Head", null)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.SubDivisionId, "Sub Division", "Select Sub Division", (SelectList)ViewBag.MySubDiv)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.CircleId, "Crcle", "Select Circle", null)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.PoliceStationId, "Police Station", "Select PoliceStation", null)</div>
                        <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.CaseType, "SR/NSR", "Select SR/NSR", MyDropdownsValue.CaseTypeSRNSR())</div>
                    </div>

                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="col-12">
            <div class="card card-primary card-outline" id="downcardmy">
                <div class="card-header p-0 pt-1 border-bottom-0">
                    <ul class="nav nav-pills nav-fill mb-2" id="mycustomformtab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1" href="javascript:void(0);">Case Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2" href="javascript:void(0);">Accused</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab3" href="javascript:void(0);">Case Proceeding</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-three-tabContent">
                        <div class="tab-pane show active fade" id="tab1Content" role="tabpanel" aria-labelledby="tab1">

                            <div class="row">
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.ModusOperandiId, "Modus Operandi", "Select Modus Operandi", null)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.FirNo, "Fir No", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.JailDate, "Jail Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.Section, "Section", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.DateAndTimeOfOccurance, "Date and Time Of Occurance", "datetime-local")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.PlaceOfOccurance, "Place Of Occurance", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.NoOfKnownAccused, "No of Known Accused", "number")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.NoOfUnknownAccused, "No of UnKnown Accused", "number")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.IoName, "IO Name", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.IoDesignationId, "IO Designation", "Select Designation", (SelectList)ViewBag.MyDesigNation)</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.IoMobile, "IO Mobile", "number")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.CIMobile, "CI Mobile", "number")</div>
                            </div>
                            <hr />
                            <div class="row justify-content-end align-content-center mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right next">Next</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2Content" role="tabpanel" aria-labelledby="tab2">
                            <div class="row" id="accusedform">
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.AccusedName, "Name", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.AccusedAddress, "Address", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateFileField(m => m.ConfessionFile, "Confession Statement", "file", "")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.ChargesheetYesNo, "Chargesheet", "Select Chargesheet", MyDropdownsValue.GetYesNo())</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.ChargesheetDate, "Chargesheet Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateFileField(m => m.AccusedFile, "Image of Accused", "file", "")</div>
                            </div>
                            <hr />
                            <div class="row justify-content-between align-content-center mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right back">Back</button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right next">Next</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3Content" role="tabpanel" aria-labelledby="tab3">
                            <div class="row">
                                @Html.Hidden("AccusedIds")
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.SrNo, "SR. No/Case No", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.CaseDate, "Case Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.ReportType, "Report Type", "Select Report Type", MyDropdownsValue.GetDocType())</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.ReportDate, "Report Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.SupervisionNote, "Supervision Note", "Select Supervision Note", MyDropdownsValue.GetYesNo())</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.SupervisionDate, "Supervision Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.SupervisionNoteBy, "Supervision Note By", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.FinalForm, "Final Form (FF)", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.ProgressReport, "ProgressReport", "Select ProgressReport", MyDropdownsValue.GetYesNo())</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.ProgressReportDate, "ProgressReport Date", "date")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.CaseDocumentType, "Case Document Type", "Select Case Document Type", MyDropdownsValue.GetDocType())</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateFileField(m => m.MyImage, "Case Document", "file", "")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.ChargeSheetReport, "ChargeSheet Report", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateField(m => m.CaseFinalHead, "Case Final Head", "text")</div>
                                <div class="col-sm-6 col-md-4">@Html.GenerateDropDown(m => m.Status, "Current Case Status", "Select Report Type", MyDropdownsValue.GetCaseStatus())</div>
                            </div>
                            <hr />
                            <div class="row justify-content-between align-content-center mt-3">
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right back">Back</button>
                                </div>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary float-right finish">Finish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script>
        bindDropdownOnChange("MHeadId", "SMHeadId", "/SRNSR/GetSMHead", "Name_EN", "Id","@Model.MHeadId","@Model.SMHeadId");
        bindDropdownOnChange("SMHeadId", "ModusOperandiId", "/SRNSR/GetModusOpernadi", "Name_EN", "Id","@Model.SMHeadId","@Model.ModusOperandiId");
        bindDropdownOnChange("SubDivisionId", "CircleId", "/SRNSR/GetCircles", "Name_En", "Id","@Model.SubDivisionId","@Model.CircleId");
        bindDropdownOnChange("CircleId", "PoliceStationId", "/SRNSR/GetStations", "Name_En", "Id","@Model.CircleId","@Model.PoliceStationId");

        $(document).on('click', '.finish', function () {
            if (!validateInputs()) {
                return;
            }
            $("#mainForm").submit();
        });



        // Function to validate inputs in the active tab
        function validateInputs() {
            let isValid = true;

            // Get all inputs, selects, and textareas in the active tab
            const inputs = $(".tab-pane.active input, .tab-pane.active select, .tab-pane.active textarea");
            //debugger;
            inputs.each(function () {
                // Trigger validation for each element
                if (!$(this).valid()) {
                    isValid = false; // Mark form as invalid if any field fails
                }
            });

            return isValid;
        }

        // Function to change active tab
        function changeTab(isNext, valicheck = true) {
            const activeLink = $(".nav.nav-pills .nav-item .nav-link.active");
            const activeTab = $(".tab-pane.active");

            const newLink = isNext
                ? activeLink.parent().next().children("a")
                : activeLink.parent().prev().children("a");

            const newTab = isNext
                ? activeTab.next(".tab-pane")
                : activeTab.prev(".tab-pane");

            // Validate inputs before navigating to the next tab
            if (valicheck && isNext) {
                if (!validateInputs()) {
                    return;
                }
            }

            // Update active link
            if (newLink.length) {
                activeLink.removeClass("active");
                newLink.addClass("active");
            }

            // Update active tab
            if (newTab.length) {
                activeTab.removeClass("show active");
                newTab.addClass("show active");
            }
        }

        $(".next").on("click", function () {
            changeTab(true); // Move to the next tab
        });

        // Handle Back button
        $(".back").on("click", function () {
            changeTab(false); // Move to the previous tab
        });
    </script>
}