@model IEnumerable<PoliceProjectMVC.Models.SRNSRCase>
@{
    ViewBag.PageTitle = "SR / Non SR Cases";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int b = 1;
}

<div class="card card-outline card-primary">
    <div class="card-header d-flex align-items-center">
        <h3 class="card-title mb-0">SR / Non SR Cases</h3>
        <div class="card-tools ml-auto">
            <a href="/SRNSR/Create" class="btn btn-primary"><span class="fas fa-plus"></span>&nbsp;&nbsp;Add New</a>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid table-responsive">
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fir No</th>
                        <th>Major Head Name</th>
                        <th>Accused Name</th>
                        <th>Accused Address</th>
                        <th>Police Station</th>
                        <th>Chargesheet</th>
                        <th>Last Chargesheet Date</th>
                        <th>Status</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.FirNo</td>
                            <td>@item.MHead.Name_EN</td>
                            <td>@item.AccusedName</td>
                            <td>@item.AccusedAddress</td>
                            <td>@item.PoliceStation.Name_En</td>
                            <td>@item.ChargesheetYesNo</td>
                            <td>@item.LastChargeSheetdate.ToShortDateString()</td>
                            <td>@item.Status</td>
                            <td>
                                <a href="/SRNSR/Edit/@item.Id" class="btn btn-sm mr-2 btn-warning"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Pending() {
            alert("Under Work");
            return false;
        }
        $(".view-btn").click(function () {
            var caseId = $(this).data("case-id");

            // Fetch the partial view content
            $.get("/SRNSR/GetAccuseds", { caseId: caseId }, function (data) {
                $("#CaseContent").html(data);
                $("#Case").modal("show");
            });
        });
    </script>
}