@model IEnumerable<PoliceProjectMVC.Models.DistrictDetail>
@{
    ViewBag.PageTitle = "DistrictDetail List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int b = 1;
}

<div class="card card-outline card-primary">
    <div class="card-header d-flex align-items-center">
        <h3 class="card-title mb-0">DistrictDetail List</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid table-responsive">
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>VisitorNo</th>
                        <th>Email</th>
                        <th>MapUrl</th>
                        <th>ContactNo</th>
                        <th>MobileNo</th>
                        <th>FacebookLink</th>
                        <th>TwitterLink</th>
                        <th>YoutubeLink</th>
                        <th>DownloadLink</th>
                        <th>QRImageUrl</th>
                        <th>Priority</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.Name</td>
                            <td>@item.Address</td>
                            <td>@item.VisitorNo</td>
                            <td>@item.Email</td>
                            <td>@item.MapUrl</td>
                            <td>@item.ContactNo</td>
                            <td>@item.MobileNo</td>
                            <td>@item.FacebookLink</td>
                            <td>@item.TwitterLink</td>
                            <td>@item.YoutubeLink</td>
                            <td>@item.DownloadLink</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img src="@item.ImageUrl" width="50" height="50" class="rounded-circle" />
                                }
                                else
                                {
                                    <img src="/Images/noimage.png" width="50" height="50" class="rounded-circle" />
                                }
                            </td>
                            <td>@item.Priority</td>
                            <td>
                                <a href="/DistrictDetail/Edit/@item.Id" class="btn btn-sm mr-2 btn-warning"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>