@model IEnumerable<PoliceProjectMVC.Models.NewsAndEvent>
@{
    ViewBag.PageTitle = "NewsAndEvent List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int b = 1;
}

<div class="card card-outline card-primary">
    <div class="card-header d-flex align-items-center">
        <h3 class="card-title mb-0">NewsAndEvent List</h3>
        <div class="card-tools ml-auto">
            <a href="/NewsAndEvent/Create" class="btn btn-primary"><span class="fas fa-plus"></span>&nbsp;&nbsp;Add New NewsAndEvent</a>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid table-responsive">
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <th>#</th>
<th>Title</th>
<th>Link</th>
<th>ImageUrl</th>
<th>Description</th>
<th>Date</th>
<th>Priority</th>
<th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
<td>@item.Title</td>
<td>@item.Link</td>
<td>
@if (!string.IsNullOrEmpty(item.ImageUrl))
{
    <img src="@item.ImageUrl" width="50" height="50" class="rounded-circle" />
}
else
{
    <img src="/Images/noimage.png" width="50" height="50" class="rounded-circle" />
}
</td>
<td>@item.Description</td>
<td>@item.Date.ToString("dd-MMM-yyyy")</td>
<td>@item.Priority</td>
<td>
    <a href="/NewsAndEvent/Edit/@item.Id" class="btn btn-sm mr-2 btn-warning"><i class="fa fa-edit"></i></a>
    <a href="/NewsAndEvent/Delete/@item.Id" onclick="return confirm('Are you sure you want to delete this NewsAndEvent?')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>