@model  IEnumerable<PoliceProjectMVC.Models.Link>

@{
    ViewBag.PageTitle = "All Links";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int b = 1;
}

<div class="card card-outline card-primary">
    <div class="card-header d-flex align-items-center">
        <h3 class="card-title mb-0">All Links</h3>
        <div class="card-tools ml-auto">
            <a href="/Link/Create" class="btn btn-primary"><span class="fas fa-plus"></span>&nbsp;&nbsp;Add New</a>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid table-responsive">
            <table class="table dtable table-bordered table-striped table-sm text-nowrap" style="width:100%;">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name (En)</td>
                        <td>Name (Hi)</td>
                        <td>URL</td>
                        <td>Type</td>
                        <td>Colour</td>
                        <td>Priority</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PoliceProjectMVC.Models.Link item in Model)
                    {
                        <tr>
                            <td>@(b++)</td>
                            <td>@item.LinkName_En</td>
                            <td>@item.LinkName_Hi</td>
                            <td>@item.LinkUrl</td>
                            <td>@item.LinkType</td>
                            <td>@item.Color</td>
                            <td>@item.Priority</td>
                            <td>
                                <a href="/Link/Edit/@item.Id" class="btn btn-sm mr-2 btn-warning"><i class="fa fa-edit"></i></a>
                                <a href="/Link/Delete/@item.Id" onclick="return confirm('Are You Sure To Delete ?')" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>